In [ ]:
# 본인의 이름, 학번을 작성하여 실행하세요.
print("우은식")
print("20242027")

우은식
20242027

## 이후 강의 PDF 예제 내용을 작성하여 실행하세요.

In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo():
  def __init__(self):
    print('Gizmo id : %d' % id(self))

x = Gizmo()

Gizmo id : 136321741244224

In [3]:
y = Gizmo() * 10

Gizmo id : 136321461580624

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [4]:
charles = charles = {'name' : 'Charles L.Dodgson', 'born': 1832}
lewis = charles

In [5]:
lewis is charles

True

In [6]:
id(charles), id(lewis)

(136321450062720, 136321450062720)

In [7]:
alex = {'name' : 'Charles L.Dodgson', 'born': 1832, 'balance': 950}
alex == charles

False

In [8]:
alex is charles

False

In [9]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [10]:
id(t1[-1])

136321449625728

In [11]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 136321449625728)

In [12]:
l1 = [3,[55,44],(7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [13]:
l2 == l1

True

In [15]:
l2 is l1

False

In [16]:
l1 = [3,[66,55,44],(7,8,9)]
l2 = list(l1)

In [17]:
l1.append(100)

In [18]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [19]:
l2[1] += [33,22]

In [20]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [21]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [22]:
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(136321461607968, 136321467090752, 136321461582544)

In [23]:
bus1.drop("Bill")
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [24]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(136321449678464, 136321449678464, 136321448854528)

In [25]:
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [26]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [27]:
def f(a,b):
  a += b
  return a

In [28]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [29]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [30]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [31]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [32]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [33]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [34]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [35]:
bus3 = HauntedBus()
bus3.passengers  # 초기값이 더이상 empty가 아님!

['Carrie']

In [36]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [37]:
bus2.passengers is bus3.passengers

True

In [38]:
bus1.passengers

['Bill', 'Charlie']

In [39]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [40]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [41]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [43]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [44]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [45]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [57]:
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [58]:
del s1
ender.alive

True

In [59]:
s2 = 'spam'

Gone with the wind...

In [60]:
ender.alive

False